.count-down {
  text-align: center;

  margin-bottom: 150px;
}

.count-down-row {
  display: inline-block;
}

.text-danger {
  font-size: 0.8rem;
}

@media (min-width: 360px) {
  .text-danger {
    font-size: 1.0rem;
  }
}

@media (min-width: 576px) {
  .count-down {
    position: relative;
    left: -25%;

    margin-top: 10%;
  }
}

@media (min-width: 768px) {
  .count-down {
    position: static;

    margin-top: 0;
  }
}