.count-down {
  margin-bottom: 150px;

  text-align: center;
}

.count-down-row {
  display: inline-block;
}

.text-danger {
  font-size: 0.8rem;

  margin-left: -25px !important;
}

@media (min-width: 360px) {
  .text-danger {
    font-size: 1.0rem;
  }
}

@media (min-width: 576px) {
  .count-down {
    position: relative;
    left: -55%;

    width: 500px;
    margin-top: 10%;
  }
}

@media (min-width: 768px) {
  .count-down {
    position: static;
    left: 0;

    width: 100%;
    margin-top: 0;
  }
}

@media (min-width: 992px) {
  .invisible {
    display: none;
  }
}