.show-detail {
  font-size: 0.9rem;
}

.show-detail-img {
  width: 120px;
  height: 200px;
  margin: 0 auto;
  padding: 0;
}

.show-detail-img img {
  border: 1px solid #8b8b8b;
}

.show-title {
  font-size: 1.4rem;
  font-weight: bold;

  text-align: center;
  color: #d14800;
}

.summary {
  font-size: 0.8rem;

  overflow-y: auto;

  height: 107px;
  padding: 10px 15px;

  border: 1px solid #000000;
  background-color: #292929;
  margin: 0;
}

.unavailable-summary {
  text-align: center;
}

@media (min-width: 360px) {
  .show-detail-img {
    width: 200px;
    height: 300px;
  }

  .show-title {
    font-size: 1.8rem;
  }

  .summary {
    font-size: 0.95rem;

    height: 123px;
  }
}

@media (min-width: 576px) {
  .show-detail-img {
    height: 100%;
    margin: 0;
  }

  .summary {
    height: 168px;
  }
}

@media (min-width: 768px) {
  .show-title {
    font-size: 2.0rem;
  }

  .summary {
    font-size: 1.0rem;

    height: 158px;
  }
}

@media (min-width: 992px) {
  .show-title {
    font-size: 2.4rem;
  }
  
  .summary {
    font-size: 1.2rem;

    height: 210px;
  }
}

@media (min-width: 1200px) {
  .summary {
    height: 245px;
  }
}