.unit-block {
  font-size: 1.0rem;

  display: inline-block;

  margin: 5px;

  text-align: center;
}

.unit-value {
  font-size: 2.0rem;
}

.caption {
  font-size: 0.8rem;

  color: #d14800;
}

@media (min-width: 360px) {
  .unit-value {
    font-size: 3.2rem;
  }
  .caption {
    font-size: 1.0rem;
  }
}

@media (min-width: 768px) {
  .unit-block {
    margin: 10px;
  }
  .unit-value {
    font-size: 3.2rem;
  }
}

@media (min-width: 992px) {
  .unit-block {
    font-size: 1.3rem;
  }
  .unit-value {
    font-size: 4.0rem;
  }
}