.initial-app-state {
  height: 100px !important;
}

.app {
  min-height: 700px;
}

.initial-search-state {
  position: absolute;
  top: 30%;
  left: 50%;

  width: 75%;
  margin-left: -37.5%;
}

.initial-search-state li {
  border: 0 !important;
}

.final-search-state {
  margin-top: 25px;
}