.app {
  min-height: 700px;
}

.initial-state {
  position: fixed;
  top: 40%;
  left: 50%;

  width: 75%;
  margin-left: -37.5%;
}

/*Very small devices (landscape phones, 360px and up)*/
@media (min-width: 360px) {
  .app {
    min-height: 900px;
  }
}

/*Medium devices (landscape phones, 760px and up)*/
@media (min-width: 768px) {
  .app {
    min-height: 800px;
  }
}