.search-bar {
  height: 35px;

  text-align: center;

  color: #ffffff;
  border: 0;
  border: 1px solid #000000;
  border-radius: 10px;
  background-color: #2f2f2f;
}

.search-bar:focus {
  outline: none;
}

@media (min-width: 768px) {
  .search-bar {
    font-size: 1.3rem;

    height: 50px;
  }
}
