.show-selection {
  background-color: #000000;
  text-align: center;
  color: #8B8B8B;
}

.show-selection:hover {
  cursor: pointer;
  color: #ffffff;
}

.show-selection:focus {
  outline: none;
}

/* Very small devices (landscape phones, 360px and up)*/
@media (min-width: 360px) {
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .show-selection {
    font-size: 1.3rem;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .show-selection {
    font-size: 1.5rem;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}